{{> list}}
<div class="controls-form">
    <form action="/Update" method="POST" id="updateForm">
        <input type="hidden" name="oldName" value="{{oldName}}">

        <input type="text" name="name" id="nameInput" value="{{oldName}}" required>
        <input type="text" name="phone" value="{{oldPhone}}" required>

        <div class="buttons">
            <button type="submit" class="btn">Изменить</button>
        </div>
    </form>

    <form action="/Delete" method="POST" style="display:inline;">
        <input type="hidden" name="oldName" value="{{oldName}}">
        <button type="submit" class="btn" id="deleteBtn">Удалить</button>
    </form>

    {{{cancelBtn}}}
</div>